<footer>
    <section>
        <article>
            <div>

                <i class="fab fa-cc-visa fa-3x "></i>

            </div>
            <p class="titulofoot">Pagá con tarjeta o en efectivo </p>
            <p class="textofoot">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y
                siempre es
                seguro!</p>
        </article>
    </section>
    <section>
        <article>
            <div>

                <i class="fas fa-gift fa-3x "></i>

            </div>
            <p class="titulofoot">Envío gratis desde $2.500 </p>
            <p class="textofoot">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </article>
    </section>
    <br>
    <section>
        <article>
            <div>

                <i class="fas fa-user-shield fa-3x "></i>


            </div>
            <br>
            <p class="titulofoot">Seguridad, de principio a fin </p>
            <p class="textofoot">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </article>
    </section>
    <br>

</footer>