<!DOCTYPE html>
<html>


    <%- include('partials/head') %>

<body>

    <%- include('partials/header') %>


        <main>
            <div class="divmain">
                <section>
                    <br>
                    <h3>Basado en tu última visita</h3>
                    <br>
                    <div class="contentArticles">
                        <article class="items">
                            <img src="/images/img-cafetera-moulinex.jpg" width="100%" alt="Cafetera"
                                class="product_img">
                            <div class="inform">

                                <i class="fas fa-truck"></i>
                                <div class="detalle">
                                    <p class="precio">$6.770</p>
                                    <p class="descuento">40% off</p>
                                </div>
                                <p class="desc">Cafetera Moulinex</p>
                            </div>
                        </article>

                        <article class="items">
                            <img src="/images/img-macbook-pro-2019.jpg" width="100%" alt="MacBook" class="product_img">
                            <div class="inform">
                                <i class="fas fa-truck"></i>
                                <div class="detalle">
                                    <p class="precio">$230.000</p>
                                    <p class="descuento">20% off</p>
                                </div>
                                <p class="desc">MacBook Pro 2019
                                </p>
                            </div>
                        </article>

                        <article class="items">
                            <img src="/images/img-samsung-galaxy-s10.jpg" width="100%"
                                alt="Teléfono Móvil Samsung Galaxy" class="product_img">
                            <div class="inform">
                                <i class="fas fa-truck"></i>
                                <div class="detalle">
                                    <p class="precio">$70.500</p>
                                    <p class="descuento">10% off</p>
                                </div>
                                <p class="desc">
                                    Teléfono móvil Samsung Galaxy S10
                                </p>
                            </div>
                        </article>

                        <article class="items">
                            <img src="/images/img-tv-samsung-smart.jpg" width="100%" alt="SmartTv Samsung"
                                class="product_img">
                            <div class="inform">
                                <i class="fas fa-truck"></i>
                                <div class="detalle">
                                    <p class="precio">$23.200</p>
                                    <p class="descuento">5% off</p>
                                </div>
                                <p class="desc">
                                    SmartTv Samsung 43"
                                </p>
                            </div>
                        </article>
                    </div>
                </section>
                <br>
                <section>
                    <br>
                    <h3>Ofertas</h3>
                    <br>
                    <div class="contentArticles">
                        <article class="items">
                            <img src="/images/img-cafetera-moulinex.jpg" width="100%" alt="Cafetera"
                                class="product_img">
                            <div class="inform">
                                <i class="fas fa-truck"></i>
                                <div class="detalle">
                                    <p class="precio">$6.770</p>
                                    <p class="descuento">40% off</p>
                                </div>
                                <p class="desc">
                                    Cafetera Moulinex
                                </p>
                            </div>
                        </article>
                        <article class="items">
                            <img src="/images/img-macbook-pro-2019.jpg" width="100%" alt="MacBook" class="product_img">
                            <div class="inform">
                                <i class="fas fa-truck"></i>
                                <div class="detalle">
                                    <p class="precio">$230.000</p>
                                    <p class="descuento">20% off</p>
                                </div>

                                <p class="desc">
                                    MacBook Pro 2019
                                </p>
                            </div>
                        </article>
                        <article class="items">
                            <img src="/images/img-samsung-galaxy-s10.jpg" width="100%"
                                alt="Teléfono Móvil Samsung Galaxy" class="product_img">
                            <div class="inform">
                                <i class="fas fa-truck"></i>
                                <div class="detalle">
                                    <p class="precio">$70.500</p>
                                    <p class="descuento">10% off</p>
                                </div>
                                <p class="desc">
                                    Teléfono móvil Samsung Galaxy S10
                                </p>
                            </div>
                        </article>
                        <article class="items">
                            <img src="/images/img-tv-samsung-smart.jpg" width="100%" alt="SmartTv Samsung"
                                class="product_img">
                            <div class="inform">
                                <i class="fas fa-truck"></i>
                                <div class="detalle">
                                    <p class="precio">$23.200</p>
                                    <p class="descuento">5% off</p>
                                </div>
                                <p class="desc">
                                    SmartTv Samsung 43"
                                </p>
                            </div>

                        </article>
                    </div>
                </section>
            </div>
        </main>

        <%- include('partials/footer') %>

        <section>
            <article>
                <h5 class="h5">Copyright © 1999-2021 MercadoLiebre S.R.L.</h5>
            </article>
        </section>
</body>

</html>