<!DOCTYPE html>
<html lang="en">


    <%- include('partials/head') %>

<body>

    <%- include('partials/header') %>


    <main>
        <article class="formularioCont">

            <h6 class="introduzca"> Por favor, introduzca los datos correspondientes. </h6>

            <form method="POST" action="#" class="registro-form">
                <div>
                    <input pattern="{6,}" type="text" placeholder=" Username " name="username" class="username"
                        required></input>
                </div>

                <div>
                    <input pattern="(?=.*[a-z])(?=.*[A-Z]).{6,}" type="password" placeholder=" Contraseña " name="pass"
                        class="pass" required></input>
                </div>
                <div>
                    <a href="/home"> <input type="submit" class="boton-send"></button>
                    </a>
                    <input type="reset" class="boton" placeholder=" Reset "></button>
                </div>
            </form>

        </article>

    </main>

    <%- include('partials/footer') %>


    <section>
        <article>
            <h5 class="h5">Copyright © 1999-2021 MercadoLiebre S.R.L.</h5>
        </article>
    </section>
</body>

</html>